body {
  background-color: #fff;
}
.container-data {
  background-color: #fafafa;
  padding: 15px;
  border-radius: 7px; 
  border: 1px solid #bebebe;   
  box-shadow:  rgba(230, 118, 118, 0);
  width: fit-content; 
  margin-bottom: 90px;
  margin-top: 30px;
}

.rs{
  font-size: 0.875rem; 
  font-weight: bold;
}

.receber {
  color: #dc3545; 
  font-size: 0.875rem; 
  font-weight: bold;
}

.container-saldo {
  background-color: #fafafa; 
  padding: 15px;
  border-radius: 7px; 
  border: 1px solid #bebebe; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
  max-width: 100%; 
  width: fit-content; 
}