/* Estilos Globais */
body {
  background-color: white;
}

.navbar {
  background-color: #fc1b2a;
}

button {
  background-color: #fc1b2a;
  color: white;
  border: none;
}

button:hover {
  background-color: #e02600;
}

#payment-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#summary {
  text-align: center;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

#summary h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

#summary p {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

/* Resumo Financeiro */
.finance-summary {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.summary-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h3 {
  color: #333;
}

.card p {
  font-size: 1.2rem;
  color: #00aeff;
  font-weight: bold;
}

/* Estilos para a seção de Gerenciamento de Transações */
.payment-management {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}

.payment-management h2 {
  font-size: 1.75rem;
  color: #fc1b2a;
  margin-bottom: 20px;
  text-align: center;
}

.payment-management .form-group {
  margin-bottom: 15px;
}

.payment-management label {
  display: block;
  font-weight: bold;
  color: #333;
}

.payment-management input,
.payment-management select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.payment-management button {
  background-color: #fc1b2a;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

.payment-management button:hover {
  background-color: #e01a1a;
}
